/* content css without image rounding */
#content img {
	-moz-border-radius: 0 !important; /* FF1+ */
	-webkit-border-radius: 0 !important; /* Saf3+, Chrome */
	-o-border-radius: 0 !important;
	-icab-border-radius: 0 !important;
	-khtml-border-radius: 0 !important;
	border-radius: 0 !important; /* Opera 7.7, IE 9 */
}

.sidebar p {
    font-size: 0.9em;
    line-height: normal;
    padding-bottom: 4px ! important;
    color: #555 ! important;
}

.sidebar p.caption {
    color: #666 ! important;
    font-size: 0.9em;
    line-height: normal;
    padding-bottom: 4px ! important;
}

.sidebar h4 {
    color: #7D8804;
}

.sidebar a {
    font-size: 1em;
}

span.acronym {
    color:#555;
    padding-right:10px;
}

span.lsid {
    font-size:12px;
}

div.center {
    text-align:center !important;
}

a.current {
    text-decoration: none;
    color: #333;
    cursor: default;
    background-image:none !important;
}

.institutionImage {
    max-width:300px;
    -moz-border-radius: 0 !important; /* FF1+ */
    -webkit-border-radius: 0 !important; /* Saf3+, Chrome */
    border-radius: 0 !important; /* Opera 10.5, IE 9 */
    -icab-border-radius: 0;
    -khtml-border-radius: 0;
    padding-bottom: 5px;
}

/* allow logo to rise to level of name text */
#header .aside {
    padding-top: 0;
}

/********************************\
* Styling for map pop-up
\********************************/
/* eliminate excess space below list in map popups */
.olFramedCloudPopupContent ul {
    padding-bottom: 0;
}

/* default charcoal text for collections */
.olFramedCloudPopupContent a {
    color: #333;
}

/* indent inner list items in popups */
.olFramedCloudPopupContent ul ul li a {
    margin-left: 20px;
}

/* header colour for institutions */
.olFramedCloudPopupContent a.highlight {
    color: #718804;
}

/* colour for other text */
.olFramedCloudPopupContent span {
    color: #333;
}

/* hr in popups */
.olFramedCloudPopupContent hr {
    height: 0;
    margin-bottom: 0 !important;
    background-color: transparent;
}

/*div#featurePopup_contentDiv {
    padding-right: 0;
    padding-bottom: 0;
}*/

.olFramedCloudPopupContent div.address {
    color: #555;
    margin-left: 6px;
    font-size: smaller;
    font-style: italic;
}

.olFramedCloudPopupContent div.desc {
    color: #333;
    margin-left: 6px;
    font-size: smaller;
    margin-top: 0;
}

/* control space in map hover */
ul.hoverPop {
    font-size: smaller;
}

/* prevent excess space after % records widget caption */
#content .section p.caption {
    padding-bottom: 0;
}

/* images for taxa breakdown
ul.taxaBreakdown li {
    height: 35px;
}*/

ul.taxaBreakdown input {
    margin-top: 11px;
}

#map-collections p {
    margin-top: 20px;
}

#map-collections {
    padding-left: 15px;
}

.olControlPanel {
    position:relative;
    top:130px;
    left: 7px;
    display:block;
    width:  24px;
    height: 24px;
    margin: 5px;
/*    background-color:red;*/
}

.olControlPanel .resetZoomItemActive {
    width:  22px;
    height: 22px;
    background-image: url("../images/map/australia.png");
}

/* error messages*/
/* for "not found" messages in public pages */
.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}
/* tabs */
.hide,.ui-tabs-hide, #nav-footer{
    display:block !important;
    position: absolute;
    left: -10000px;
}

/************************************************************\
* Charts
\************************************************************/

div.child-institutions {
    padding-top: 20px;
}

table.charts {
    margin-left: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
}

div.vertical-charts {
    height: auto !important;
    margin-left: 30px;
}

.vertical-charts h3 {
    margin-top: 40px;
}

div.vertical-charts h3:first-child {
    margin-top: 15px;
}

/************************************************************\
* Records maps
\************************************************************/

div.learnMaps {
    padding-left: 45px;
}

img#mapLegend {
    margin-top: 50px;
    vertical-align: top;
    padding-left: 10px;
}

/************************************************************\
* Taxon charts
\************************************************************/
img.taxon-loading {
    margin-left: 230px;
    margin-top: 150px;
    margin-bottom: 218px;
}

span.taxonChartCaption {
    color: #555;
}

span#resetTaxonChart {  /* deprecated: use span.resetChart  */
    color: #01716E;
    text-decoration:underline;
    cursor:pointer;
    margin-bottom: 14px;
}

span.resetChart {
    color: #01716E;
    text-decoration:underline;
    cursor:pointer;
    margin-bottom: 14px;
}

div.taxonCaveat {
    padding-top:5px;
}

div#taxonChartCaption {
    text-align:center;
    width: 430px;
    position: relative;
    z-index: 2;
    margin-top: -50px;
}

div#taxonRecordsLink {
    z-index: 2;
    margin-left: 5px;
}

/************************************************************\
* Progress bar (speedo)
\************************************************************/
#speedo {
    text-align:center;
}

#speedoCaption {
    position: relative;
}

a.recordsLink {
    background: transparent url(../images/ala/database_go.png) center left no-repeat;
    padding-left: 20px;
    position: relative;
    z-index: 2;
}

div.inline {
    display: inline;
}

div.contact {
    padding-bottom: 5px;
}

p.contactName {
    font-weight: bold;
}

p.lastUpdated {
    font-size: 11px;
    color: #666 !important;
    margin-left: 15px;
    padding-bottom: 0 !important;
}


/************************************************************\
* Decade charts
\************************************************************/
img.decade-loading {
    margin-left: 130px;
    margin-bottom: 108px;
}

div#decadeChartCaption {
    padding-left: 100px;
    padding-bottom: 20px;
    color: #555;
    position: relative;
    z-index: 2;
}

/* ------------*/

/*a[target='_blank'] {
    background: url(../images/skin/external.png) center right no-repeat;
    padding-right: 13px;
}*/

img.no-radius {
    -moz-border-radius: 0 !important; /* FF1+ */
    -webkit-border-radius: 0 !important; /* Saf3+, Chrome */
    border-radius: 0 !important; /* Opera 10.5, IE 9 */
    -icab-border-radius: 0;
    -khtml-border-radius: 0;
}

/* stop rounding of map tiles */
.olMap img {
    -moz-border-radius: 0 !important; /* FF1+ */
    -webkit-border-radius: 0 !important; /* Saf3+, Chrome */
    border-radius: 0 !important; /* Opera 10.5, IE 9 */
    -icab-border-radius: 0;
    -khtml-border-radius: 0;
}
/* for percent records progress bar */

img.percentImage1 {
 background: white url(../images/percentImage_back1.png) top left no-repeat;
 padding: 0;
 margin: 5px 0 10px 0;
 background-position: 1px 0;
}

img.percentImage2 {
 background: white url(../images/percentImage_back2.png) top left no-repeat;
 padding: 0;
 margin: 5px 0 0 0;
 background-position: 1px 0;
}

img.percentImage3 {
 background: white url(../images/percentImage_back3.png) top left no-repeat;
 padding: 0;
 margin: 5px 0 0 0;
 background-position: 1px 0;
}

img.percentImage4 {
 background: white url(../images/percentImage_back4.png) top left no-repeat;
 padding: 0;
 margin: 5px 0 0 0;
 background-position: 1px 0;
}

/* for info pages - eg web services catalogue */
div.infoPage span.entity {
    color: #718804;
}

div.infoPage ul {
    margin-top: -10px;
}

div.infoPage p {
    padding-bottom: 1.3em !important;
}

div.infoColumn {
    padding-left: 20px;
}

div.infoColumn h1 {
    font-size: 1.4em;
    line-height: 1.4em;
    color: #666 !important;
    padding-bottom: 5px !important;
}

span.code {
    color: #555;
    font-family: Helvetica, Arial, sans-serif;
}

/* override the default thick grey line under all tables */
table.clean {
    border: none;
}

/* table with no td left padding so that the first column of text aligns with non-table text */
table.no-left-pad td:first-child {
    padding-left: 0;
    text-align: left;
}

/* ---- */
img.ccimage {
    padding-left: 20px;
    vertical-align: middle;
}

table.counts {
    border: none;
    padding: 0;
}

table.counts tr td:nth-child(2) {
    text-align: right;
}

table.counts tr td:first-child {
    width: 100px;
}

p.short-bot {
    padding-bottom: 7px ! important;
}

span.number {
    font-weight: bold;
}

/* use child combinator to hide effect in IE6*/
div > div#map-container {
    /*background:transparent url(../images/map/map-shadow.png) right bottom no-repeat;*/
    width: 650px;
    height: 470px;
}

.map-alt .fudge {
    width: 310px ! important;
}

.fudge {
    width: 250px ! important;
}

.map-column div.section {
    margin-top: 0;
}

div.nameList {
    margin-top: 0;
    margin-left: 35px;
}

.abstract {
    font-size: smaller;
}

/* h2 link used for institution name on collection page - trad link is overwhelming */
#header h2 a {
    text-decoration: underline;
    color: inherit;
    font-size: 20px;
}

/* map column is set to 329 for some reason. Wraps any text above or below the map.*/
.map-column {
    width:auto !important;
}
.list-column {
    width:755px !important;
}

.list-column {
    width:638px !important;
}

/* header colour for institutions */
#filtered-list .highlight {
    color: #718804;
    font-size: 15px;
}

ul#filtered-list ul li {
    margin-left: 25px;
}

/* move tabs across to where they relate to tabbed content
#nav-tabs li a[href='#map'] {
    margin-left: 230px;
}

#nav-tabs .narrow li a[href='#map'] {
    margin-left: 380px;
}*/

body {
    /*background:transparent url(../images/ala/header.png) center 0 repeat-x;*/
    text-align: left !important;
}

#infoSourceList {
    background-color: #E8EACE;
    padding: 10px;
    -moz-border-radius: 0 0 10px 10px; /* FF1+ */
    -webkit-border-radius: 0 0 10px 10px; /* Saf3+, Chrome */
    border-radius: 0 0 10px 10px; /* Opera 10.5, IE 9 */
}
#infoSourceList h3 { padding: 3px 0 10px 0; }

.hrgroup {
    border-right: 0 ! important;
}

div#warnings {
    /* float: left; */
    background-color: #F8F2E5;
    border: 2px solid #D75A20;
    width: 75%;
    margin-bottom: 20px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-top: 10px;
    line-height: 1.2em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

/* for collections home */
p.collectionsCount {
    margin-top: 5px;
    text-align: center;
    padding-bottom: 3px !important;
}
/********************************\
* Styling for map filter buttons
\********************************/

.filter-buttons {
    margin-left: 25px;
    margin-top: 15px;
}

.filter-buttons div {
    padding-top: 0;
    width:300px;
    margin-bottom: 0;
    float:left;
    padding: 0 0 0 0;
    opacity: 0.45;
    filter:alpha(opacity=45);
}

.filter-buttons div.selected {
    opacity: 1.0;
    filter:alpha(opacity=100);
}

.filter-buttons h2 a span {
    width:250px;
    padding-top:.3em;
    display:block;
    color:#000;
    font-size:.6em;
    line-height:1.2em;
}

.filter-buttons a {
    margin:0 15px 10px 0;
    padding: 4px 10px 3px 10px;
    /*height: 60px;*/
    display:block;
    overflow:hidden;
    border:1px solid #ccc;
    -moz-border-radius: 7px; /* FF1+ */
    -webkit-border-radius: 7px; /* Saf3+, Chrome */
    -o-border-radius: 7px;
    -icab-border-radius: 7px;
    -khtml-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px; /* Opera 10.5, IE 9 */
    background:transparent url(../images/ala/button_bg.png) right bottom repeat-x;
    -o-box-shadow: 4px 4px 0px #d9d9d9;
    -icab-box-shadow: 4px 4px 0px #d9d9d9;
    -khtml-box-shadow: 4px 4px 0px #d9d9d9;
    -moz-box-shadow: 4px 4px 0px #d9d9d9;
    -webkit-box-shadow: 4px 4px 0px #d9d9d9;
    box-shadow: 4px 4px 0px #d9d9d9;
}

.filter-buttons .all a {
    background: transparent;
}

.filter-buttons .fauna a {
    background: transparent;
}

.filter-buttons .insects a {
    background: transparent;
}

.filter-buttons .microbes a {
    background: transparent;
}

.filter-buttons .plants a {
    background: transparent;
}

.filter-buttons h2 a:hover, .filter-buttons h2 a:active, .filter-buttons h2 a:hover span, .filter-buttons h2 a:active span {
    color:#dd3102;
    text-decoration: none;
}

.filter-buttons h2 a:hover, .buttons h2 a:active, .buttons h3 a:hover, .buttons h3 a:active, .sorry h2 a:hover, .sorry h2 a:active, .sorry h3 a:hover, .sorry h3 a:active{
    border-color:#dd3102;
    -o-box-shadow: 4px 4px 0px #dd3102;
    -icab-box-shadow: 4px 4px 0px #dd3102;
    -khtml-box-shadow: 4px 4px 0px #dd3102;
    -moz-box-shadow: 4px 4px 0px #dd3102;
    -webkit-box-shadow: 4px 4px 0px #dd3102;
    box-shadow: 4px 4px 0px #dd3102;
}

.olFramedCloudPopupContent h3 {
    font-size: 14px;
    color: #336600;
    border-bottom: 1px solid #aaa;
}

.olFramedCloudPopupContent p {
    padding-bottom: 7px !important;
}

div#selectedRegion {
    margin-left: 32px;
    margin-right: 30px;
    margin-top: -1px;
    padding: 10px 0 8px 20px;
    height: 74px;
    border: 1px solid #aaa;
}

div#selectedRegion p {
    padding-bottom: 2px;
}

div#right-side {
    width: 650px;
    float:left;
    margin-left: 20px;
}

div#listMapToggle {
    float:right;
    padding-bottom: 7px;
}

#header {
    margin-bottom: 10px;
}

#filtered-list table {
    border: none;
    border-collapse: separate;
    border-spacing: 5px 2px;
}

#filtered-list td {
    padding: 3px 0 3px 0;
}

td.selected {
    font-weight: bold;
    border: 1px solid #718804;
    margin-right: 5px;
}

div.region-search {
    margin-left: 20px;
}

div.dev-only {
    margin: 10px 0 0 20px;
    color: gray;
}

input#regionSearch {
    width: 275px;
    height: 20px;
    font-size: 12px !important;
}

.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 150px;
}

.ui-widget {
    font-size: 12px !important;
}

#showHelp {
    color:#01716e;
    text-decoration: underline;
    outline:none;
    cursor: pointer;
}

#mainHelp {
    padding-left: 30px;
    /*display: none;*/
}

#mainHelp img {
    padding: 0 4px 0 4px;
}

div.region-info, div.region-charts {
    margin-left: 15px;
}

/* pagination styles */
.pageNav {
    width: 100%;
    margin: auto;
    text-align: center;
}

.pageNav ul {
    list-style-type: none;
    list-style-position: inside;
    margin: 10px 0 0 0;
    line-height: 24px;
}

.pageNav li {
    display: inline;
    list-style-type: none;
    font-size: 13px;
    padding: 0 5px;
}

.pageNav ul li:first-child {
    padding-left: 0;
}

.pageNav li.current {
    font-weight: bold;
    color: #dd3102;
}

.pageNav li.active {
    cursor: pointer;
    color: #01716e;
}

.pageNav li.disable {
    color: #888;
}

img.info{
    vertical-align: middle;
    padding-right: 4px;
    opacity: 0.5;
}

.pseudolink {
    text-decoration: underline;
    cursor: pointer;
}

.ui-dialog-titlebar {
    /*display: none !important;*/
}

